
.header {
    display: flex;
    width: 100%;
    background-color: lightgrey;
    font-family: 'Bitter' , serif;
}

#header-h1 {
       margin: 25px;
}

.page-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightsteelblue;
    font-family: 'Bitter' , serif;
    width: 100%;
}

.navbar-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: #fdffdb;
    font-family: 'Bitter' , serif;
    padding: 5%;
}

#home-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: lightpink;
}

#quiz {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: lightpink;
    font-family: 'Source Sans Pro' , sans-serif;
}

#button {
    display: flex;
    border: none;
    color: black;
    background-color: lightgrey;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
  }

  #faves-main {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    font-family: "Source Sans Pro" , sans-serif;
    justify-content: space-around;
}
 #faves-cards {
    display: flex;
    flex-direction: row;
    background-color: lightpink;
    justify-content: space-evenly;
}

#favourite-books-form {
    display: flex;
    justify-content: center;
    background-color:lightpink;
    font-family: "Source Sans Pro" , sans-serif;
}

  #bike-hike-all {
      display: flex;
      font-family: 'Source Sans Pro' , sans-serif;
      justify-content: space-around;
      background-color: lightpink;
  }


.footer {
    display: flex;
    flex-direction: column;
    background-color:  #fdffdb;
    font-family: 'Bitter' , serif;
    padding: 2%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-name {
    background-color: lightgrey;
    font-family: "Bitter" , serif;
    padding: 1%;
}
